h1 {
	color:blue;
	 font-family: "Comic Sans MS", cursive, sans-serif;
}
h2 {
	color:red;

 font-family: "Comic Sans MS", cursive, sans-serif;
}
body {
	background-image:url("images/tit.png");
	background-color:pink;
	 font-family: "Comic Sans MS", cursive, sans-serif;
}