h2 {
	color:red;
	 font-family: "Comic Sans MS", cursive, sans-serif;
}
.container {
	
}

body {
	background-image:url("images/shark.jpg");
	background-color:green;
	 font-family: "Comic Sans MS", cursive, sans-serif;
}
p {
	color:red;
	 font-family: "Comic Sans MS", cursive, sans-serif;
}